.tailr-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.mode-buttons button {
    margin-right: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

#runBtn {
    margin-top: 20px;
}

pre {
    background: #111;
    padding: 20px;
    margin-top: 20px;
    white-space: pre-wrap;
}

